
<div>
    <h4>Welcome to Friends!!</h4>
</div>

<div>
  <h6>Add a new friend below</h6>
</div>

  <div>
    First Name <input [(ngModel)]= "firstName" type="text">
    <!-- <input id = "tage" type="number" placeholder="Age"> -->
    <!-- <input id = "temail" type="text" placeholder="Email"> -->
    <!-- <input id = "tbff" type="boolean" placeholder="BFF"> -->
    <p>
      <button class="btn btn-primary" (click)="add()">Add</button>    
    </p>
</div>













<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>BFF</td>
      </tr>
    </thead>
    <tbody id ="tbody">

    </tbody>







  </table>



</div>






<div>
  <span>{{ title }} app is running!</span>
  </div>



  


<router-outlet></router-outlet>